.postTagMe-container {
  width: 10cm;
  margin-left: 5mm;
  font-size: 12px;
  
  img {
    max-height: 40px;
    max-width: 40px;
  }
  
  > .ui.grid {
    margin-top: 5px;
    border: 1px solid black;

    .barcode-vertical,
    .remetente {
      transform: rotate(90deg);
      transform-origin: top;
      > * {
        position: absolute;
        bottom: 100%;
      }
    }

    .firstRow {
      border-bottom: 1px solid;

      :nth-child(1) {
        display: flex;
        justify-content: space-between;        
      }

    }
    
    .secondRow {
      border-bottom: 1px solid;
      padding: 0 !important;
      
      > :nth-child(1) {
        border-right: 1px solid;
      }

      .contato {
        border-bottom: 1px solid;
      }

      .pacotes {
        border-bottom: 1px solid;
        border-right: 1px solid;
      }

      .package {
        border-right: 1px solid; 

        > div {
          min-height: 100%;
          font-size: 48px;
          font-weight: 900;

          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      
      .contato,
      .nf {
        border-right: 1px solid;
      }
      .endereco-destino {
        border-bottom: 1px solid;
        padding-bottom: 0;

        :nth-child(2) {
          border-left: 1px solid;;
        }
      } 
    }

    .thirdRow {
      border-bottom: 1px solid;
      padding: 0 !important;

        :first-child {
          text-align: center;

         .package {
           margin: 0;
           padding-left: 1px;
           font-size: 13px;
           font-weight: 800;
           text-transform: uppercase;
          }

          > div {
            display: flex;
            
            .div-TrackAndSpan {
                text-align: left;

              .track {
                margin: 0;
              }
              
              > span {
                border: solid 1px;
                font-weight: 800;
                padding: 1px 5px;
              }
            }

            .title-MelhorEnvio {
              margin-top: 1em;
              width: 100%;
            }
          }
        }
      }

    .fourthRow {

      :nth-child(1) {
        display: flex;
        justify-content: center;
      }
    }


    // .secondRow {
    //   padding: 0 !important;

    //   .secondRow-firstColumn {
    //     padding: 0 !important;

    //     .secondRow-firstColumn-firstRow {
    //       border-bottom: 1px solid black;
          
    //     }

    //     .secondRow-firstColumn-secondRow {
    //       padding: 0 !important;

    //       :nth-child(1) {
    //         padding-right: 0 !important;
    //         border-right: 1px solid black;
    //       }
          
    //       :nth-child(2) {
    //         padding: 0 !important;
    //       }
    //     }

    //     .secondRow-firstColumn-thirdRow {
    //       padding-top: 0 !important;
    //       border-top: 1px solid black;

    //       :nth-child(1) {
    //         padding-right: 0 !important;
    //         border-right: 1px solid black;
    //       }
          
    //       :nth-child(2) {
    //         padding: 0 !important;
    //       }
    //     }
    //   }

    //   .secondRow-secondColumn {
    //     border-left: 1px solid black;
    //     padding: 0 !important;

    //     :nth-child(2) {
    //       border-top: solid 1px black;
    //     }
    //   }

    //   .secondRow-thirdColumn {
    //     border-left: 1px solid black;
    //     padding: 0 !important;
    //   }
    // }

    // .thirdRow {
    //   padding: 10px, 0, 10px, 0 !important;
    // }

    // .fourthRow {
    //   border-top: 1px solid black;
    // }
  }

}
